<div class="container">
  <div class="content-container">
    <div class="logo-container">
      <div class="logo"></div>
    </div>
    <div class="title-container">
      <h1 class="title">Backoffice Test</h1>
    </div>
  </div>
</div>

